.hero-section {
    background: linear-gradient(180deg, #1A0065 0%, #0852AE 100%);
    padding: 20px 0;
    height: 700px;
    @include responsive('tablet') {
        height: 100%;
        padding-bottom: 100px;
    }

    .overlay {
        background: url('../../images/hero-section-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .nav .nav-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        gap: 30px;
        @include responsive('small-desktop') {
            padding: 20px;
        }
     
        .logo {
            position: relative;
            border-right: 1px solid #ddd;
            padding: 5px 10px 5px 0;
            top: 5px;
            // Tablet
            @include responsive('tablet') {
                left: 20px;
            }  
            // Mobile
            @include responsive('mobile') {
                left: 20px;
            }
        }

        .bars {
            display: none;
            // Small Tablet
            @include responsive('small-tablet') {
                display: block;
                color: #fff;
                font-size: 2em;
                position: absolute;
                top: 30px;
                right: 25px;
                cursor: pointer;
            }
            
        }

        .side-bar {
            display: none;
            
            // Small Tablet
            @include responsive('small-tablet') {
                display: block;
                transform: translateX(700px);
                background-color: #fff;
                position: fixed;
                list-style: none;
                right: 0;
                bottom: 0;
                top: 0;
                padding-top: 50px;
                width: 70%;
                height: 100vh;
                z-index: 99;
                transition: transform .5s;

                &.active {
                    transform: translateX(0);
                }
                
                .fa {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-size: 1.5em;
                    cursor: pointer;
                }
        
                li {
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: $darkTextColor;
                        width: 100%;
                        padding: 10px 30px;

                    }
                    &:hover {
                        background-color: $primaryColor;
                        
                        a {
                            color: $lightTextColor;
                        }
                    }
                }
            }
        }
     
        .nav-bar {
         display: flex;
         align-items: center;
         justify-content: space-between;
         list-style-type: none;
         width: 100%;
         // Small Desktop
         @include responsive('small-desktop') {
            width: 90%;
         }
         // Small Tablet
         @include responsive('small-tablet') {
            display: none;
        }
          // Mobile
        @include responsive('mobile') {
            display: none;
        }
     
         li a {
            color: $lightTextColor;
            text-decoration: none;
            padding: 10px 0;
            transition: .1s;

             &.active {
                border-bottom: 4px solid $secondaryColor;
             }

             &:hover {
                border-bottom: 4px solid $secondaryColor;
             }
         }
        }
     }

     .header .header-section {
        display: flex;
        width: 100%;
        color: $lightTextColor;
        margin: 50px 0;
     
        .side {
            width: 100%;
            
            h1 {
                text-transform: uppercase;
                padding: 0 50px 0 0;
                 // Mobile
                 @include responsive('mobile') {
                    padding: 0;
                }
            }

            p {
                margin:  20px 10px 20px 0;
                font-size: 1.2em;
                font-family: $primaryTextFont;
                color: rgba(255, 255, 255, 0.8);
            }

            &.left {
                width: 50%;
                // Tablet
                @include responsive('tablet') {
                    width: 80%;
                    margin: 100px auto;
                    text-align: center;
                }
                 // Mobile
                @include responsive('mobile') {
                    font-size: 0.6em;
                }
                // Small Mobile
                @include responsive('small-mobile') {
                    margin: 0 auto;
                }
                
                ul {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    gap: 20px;
                    margin: 20px 0;
                     // Mobile
                    @include responsive('mobile') {
                        flex-direction: column;
                    }
    
                    li {
                        width: 100%;
                        text-align: center;
    
                        a {
                            background-color:  $secondaryColor;
                            text-decoration: none;
                            color: $lightTextColor;
                            padding: 10px 0;
                            display: block;
                            font-size: 17px;
                            border-radius: 5px;
                            transition: .2s;
                            // Small Mobile
                            @include responsive('small-mobile') {
                                font-size: 14px;
                            }
                        
                            &:hover {
                                opacity: .7;
                            }
                        }
                    } 
                }
            }

            &.right {
                position: relative;
                width: 60%;
                // Small Desktop
                @include responsive('small-desktop') {
                    right: 100px;
                }
                // Tablet
                @include responsive('tablet') {
                    display: none;
                }

                img {
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);

                    &.circle_image {
                        width: 420px;
                        transform: translate(-70px, -160px);
                    }

                    &.man_image {
                        width: 350px;
                        transform: translate(-50px, -200px);
                    }
                }
                
                .items {
                    display: grid;
                    align-items: center;
                    gap: 50px;
                    grid-template-columns: repeat(2, 1fr);
                    width: 660px;
                    height: 350px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-260px,-120px);

                    .box {
                        background-color: $primaryColor;
                        padding: 10px;
                        text-align: center;
                        justify-self: center;
                        font-size: 15px;
                        border-radius: 5px;

                        &.box-1 {
                            align-self: flex-start;
                            grid-row: 2;
                            justify-self: flex-end;
                        }
                        
                        &.box-2 {
                            grid-column: 2;
                            align-self: flex-end;
                            justify-self: flex-end;
                            
                        }
                        
                        &.box-3 {
                            grid-column-start: 2;
                            align-self: flex-end;
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
}