.testimonial {
    background-color: #fff;
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 96%);
    margin-top: -60px;
    height: 100%;
    // Tablet
    @include responsive('tablet') {
        overflow-x: hidden;
        clip-path: polygon(0 0, 100% 2.5%, 100% 100%, 0 96%);
        margin-top: -71px;
    }
    // Mobile
    @include responsive('mobile') {
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 99%);
    }

    .testimonial-section {
        padding: 120px 0;
        position: relative;

        &::before {
            content: url('../../images/testimonial-icon-1.png');
            display: block;
            position: absolute;
            top: 200px;
            left: 0;
            width: 180px;
            height: 180px;
            z-index: -1;
        }

        &::after {
            content: url('../../images/testimonial-icon-2.png');
            display: block;
            position: absolute;
            bottom: 70px;
            right: 100px;
            width: 180px;
            height: 180px;
            z-index: -1;
        }

        .heading {
            margin: 0 auto;
            width: 60%;
        }

        .carousel-container {
            height: 400px;
            margin: 50px auto 10px auto;
            position: relative;
            overflow: hidden;

            // Tablet
            @include responsive('tablet') {
                height: 65rem;
            }
            // Small Tablet
            @include responsive('small-tablet') {
                height: 70rem;
            }
            // Between mobile and small tablet 1
            @include responsive('mobile-small-tablet-1') {
                height: 80rem;
            }
            // Between mobile and small tablet 2
            @include responsive('mobile-small-tablet-2') {
                height: 85rem;
            }
            // Between small mobile and mobile 1
            @include responsive('small-mobile-mobile-1') {
                height: 90rem;
            }
            // Between small mobile and mobile 2
            @include responsive('small-mobile-mobile-2') {
                height: 110rem;
            }
            // Between small mobile and mobile 3
            @include responsive('small-mobile-mobile-3') {
                height: 120rem;
            }
            // Small Mobile
            @include responsive('small-mobile') {
                height: 132rem;
            }
         
            .card-slide {
                position: absolute;
                top: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 1s;
                gap: 50px;
                // Tablet
                @include responsive('tablet') {
                    flex-direction: column;
                    padding: 0 75px;
                }

                .client-card {
                    background-color: #fff;
                    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    padding: 20px;

                    .top-content {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        @include responsive('mobile') {
                            flex-direction: column;
                            text-align: center;

                            img {
                                width: 15px;
                            }
                        }

                        .profile {
                            width: 120px;
                            border-radius: 50%;
                        }
                    }

                    .bottom-content {
                        margin: 25px 0;

                        @include responsive('mobile') {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .btns {
            position: relative;
            top: -300px;
            // Small Desktop
            top: -275px;
            // Tablet
            @include responsive('tablet') {
                top: -20rem;
            }

            @include responsive('mobile') {
                top: -30rem;
            }

            button {
                font-size: 2em;
                background: transparent;
                border: none;
                cursor: pointer;
            }

            .prev-button {
                position: absolute;
                left: -70px;
                // Small Tablet
                @include responsive('small-desktop') {
                    left: 18px;
                }
                // Tablet
                @include responsive('tablet') {
                    top: -300px;
                    left: 40px;
                }
                // Small Mobile
                @include responsive('small-mobile') {
                    left: 20px;
                }
            }

            .next-button {
                position: absolute;
                right: -70px;
                // Small Desktop
                @include responsive('small-desktop') {
                    right: 18px;
                }
                // Tablet
                @include responsive('tablet') {
                    top: -300px;
                    right: 40px;
                }
                 // Small Mobile
                 @include responsive('small-mobile') {
                    right: 20px;
                }
            }
        }

        .dots {
            display: flex;
            justify-content: center;
            gap: 40px;
            @include responsive('mobile') {
                display: none;
            }

            button {
                background-color: #ddd;
                width: 20px;
                height: 20px;
                border: 0;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: $primaryColor;
                    opacity: .3;
                }

                &.active {
                    background-color: $primaryColor;
                }
            }
        }

        .btn {
            display: none;
        }
    }
}